.sidebar {
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    background-color: #8c337c
}

.sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100vh
}

.dashboard-logo {
    color: #fff
}

.card-header-dashboard {
    border-radius: 0px!important;
    background-image: none!important;
    background-color: #8c337c!important
}

.card-body-dashboard .list-group-item {
    background-color: #8c337c;
    border-color: 1px solid rgba(0,0,0,.125)
}

.card-body-dashboard .list-dashboard {
    color: #fff !important
}

.card-body-dashboard .list-dashboard:hover {
    cursor: pointer
}

.card-body-dashboard .list-dashboard:visited {
    text-decoration: none
}

.card-body-dashboard .list-active {
    font-family: Cereal-Bold
}

.delete-picture {
    position: absolute;
    width: 25px;
    height: 25px;
    top: -15px;
    right: -8px;
    padding: 2px 7px;
    border-radius: 50%;
    background-color: #8c337c;
    color: white;
    cursor: pointer
}