.login-top {
    margin-top: 180px
}

.send-verify {
    cursor: pointer;
    text-decoration: underline
}

.resend-link {
    color: #8c337c
}

.resend-link:hover {
    text-decoration: underline;
    cursor: pointer
}

.not-allowed {
    cursor: not-allowed !important
}

.pointer-events-none {
    pointer-events: none
}