.main-image {
    position: relative;
    display: flex
}

.favorite {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: white;
    padding: 7px 15px;
    border: 1px solid black;
    border-radius: 7px;
    z-index: 1;
    cursor: pointer
}

.favorite-selected {
    background-color: rgb(212, 25, 88);
    color: white
}

.all-images {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: white;
    padding: 7px 15px;
    border: 1px solid black;
    border-radius: 7px;
    z-index: 1;
    cursor: pointer
}

.left-image {
    -webkit-box-pack: center;
    -webkit-box-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    background-color: rgb(0, 0, 0);
    position: relative;
    width: 50%;
    height: 294.667px;
    color: inherit;
    overflow: hidden;
    border-width: 1px;
    border-style: solid
}

.zooming-image {
    object-fit: cover;
    object-position: 50% 0;
    height: 100%;
    width: 100%;
    transform: scale(1);
    opacity: 1;
    transition: -ms-transform 450ms cubic-bezier(0.645, 0.045, 0.355, 1) 0s, -webkit-transform 450ms cubic-bezier(0.645, 0.045, 0.355, 1) 0s, transform 450ms cubic-bezier(0.645, 0.045, 0.355, 1) 0s, opacity 450ms cubic-bezier(0.645, 0.045, 0.355, 1) 0s
}

.zooming-image:hover {
    transform: scale(1.05);
    transition: -ms-transform 450ms cubic-bezier(0.645, 0.045, 0.355, 1) 0s, -webkit-transform 450ms cubic-bezier(0.645, 0.045, 0.355, 1) 0s, transform 450ms cubic-bezier(0.645, 0.045, 0.355, 1) 0s
}

.container-middle-image, .container-right-image {
    position: relative;
    width: 25%;
    overflow: hidden
}

.middle-image, .right-image {
    -webkit-box-pack: center;
    -webkit-box-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    background-color: rgb(0, 0, 0);
    position: relative;
    height: 50%;
    color: inherit;
    overflow: hidden;
    border-width: 1px;
    border-style: solid
}

@media (min-width: 1200px){
    .left-image {
        height: 440px
    }

    .middle-image, .right-image {
        height: 220px
    }
}

@media (min-width: 992px) and (max-width: 1199px){
    .left-image {
        height: 350px
    }

    .middle-image, .right-image {
        height: 175px
    }
}

@media (min-width: 768px) and (max-width: 991px){
    .left-image {
        height: 300px
    }

    .middle-image, .right-image {
        height: 150px
    }
} 