.purchase-card {
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
    border: 0px!important
}

.transaction-status {
    font-family: Cereal-Bold
}

.trip-name {
    font-family: Cereal-Bold;
    color: #8c337c
}

.total-payment {
    font-family: Cereal-Bold;
    color: #8c337c
}