.review-name {
    display: inline-block;
    font-size: 16px;
    font-family: Cereal-Medium
}

.dot {
    margin-left: 5px;
    margin-right: 5px;
    font-family: Cereal-Bold
}

.review-date {
    font-size: 14px;
    font-family: Cereal-Book
}