/* Global styles here */
.container-height {
    min-height: 65vh
}

.row-top {
    padding-top: 3rem
}

.row-bottom {
    padding-bottom: 3rem
}

.text-light-dark {
    color: #606060!important
}

a:hover {
    text-decoration: none
}

.text-bold {
    font-weight: 700
}

.fslightbox-container {
    background: rgba(255, 255, 255, 0.9)
}

.fslightbox-slide-number-container {
    color: #717171
}

img.fslightbox-source{
    border-radius: 20px
}