.home-top {
    margin-top: 100px
}

.login-top {
    margin-top: 180px
}

.detail-top {
    margin-top: 56px 
}

.main-image {
    position: relative
}

.text-light-dark {
    color: #606060!important
}

a:hover {
    text-decoration: none
}

.card-decoration {
    color: #111111;
    margin-bottom: 20px
}

.card-image {
    width: 100%;
    border-radius: 4px
}

.card-tag {
    padding: 2px 4px;
    font-size: 12px;
    color: white;
    background-color: orange;
    border-radius: 2px;
    display: inline-block
}

.card-title {
    margin-top: 5px;
    margin-bottom: 0px;
    font-weight: 600
}

.card-price {
    font-size: 14px
}

.text-bold {
    font-weight: 700
}

.favorites {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: white;
    padding: 10px;
    border-radius: 7px
}

.bottom-space {
    margin-bottom: 80px
}

.bottom-navigation {
    position: fixed;
    width: 100%;
    padding: 10px 0px;
    bottom: 0;
    background-color: white;
    border-top: 1px solid #ddd;
    z-index: 1
}