/* Global styles here */
.navbar-spacing {
    margin-top: 56px
}

.container-height {
    min-height: 65vh
}

.row-top {
    padding-top: 3rem
}

.row-bottom {
    padding-bottom: 3rem
}

.text-light-dark {
    color: #606060!important
}

a:hover {
    text-decoration: none
}

.text-bold {
    font-weight: 700
}