# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# database setting
/database

# uploaded images
/uploads

# configs
emailSecretKey.js
mailPassword.js

# sql
/sql
